.chat-post {
  position: relative;
  width: 60% !important;
  margin-bottom: 7px !important;
  padding-left: 3px !important;
}

.chat-post.right {
  margin-left: auto !important;
}

.chat-post .meta {
  display: flex !important;
}

.chat-post .edit-actions {
  /*margin-left: auto !important;*/
  position: absolute !important;
  display: none;
  right: 0;
  top: 5px;
  font-size: 1.3em;
}

.chat-post:hover .edit-actions {
  display: block;
}

.chat-post .edit-actions .icon {
  margin-right: 20px;
}

.like.liked .icon {
  color: #ff2733 !important;
}

.like.liked:hover .icon {
  color: rgba(0, 0, 0, 0.5) !important;
}
